{% extends 'base.html' %}

{% load static %}

{% block title %} |Home_page{% endblock title %}

{% block header1 %} {% include 'header1.html' %} {% endblock header1 %}

{% block header %} {% include 'header.html' %}{% endblock header %}

{% block carousel %} {% include 'carousel.html' %}{% endblock carousel %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    
      <div class="col-12 col-sm-6">
        <div class="col-12 col-sm-6">
          <div class="container mt-5 mb-5">
            <h2>Dear {{user.username}}</h2>
            <h5>Payment for your order was successful!</h5>

            <p>Thank you for your patronage, we look forward
              to doing more business with and do deliver your order in
              shortest time possible...</p>
          </div>
        </div>
      </div>
  <div class="col-12 col-sm-3"></div>
</div>


{% endblock content %}

{% block contact %} {% include 'contact.html' %}{% endblock contact %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}


