{% extends 'base.html' %}

{% load static %}

{% block title %} Search{% endblock title %}

{% block header1 %} {% include 'header1.html' %} {% endblock header1 %}
{% comment %} {% block header1 %} {% include 'header1' %}{% endblock header1 %} {% endcomment %}

{% block header %} {% include 'header.html' %}{% endblock header %}

{% block carousel %} {% include 'carousel.html' %}{% endblock carousel %}

{% block content %}

{% if searched_items %}

<div class="container-fluid mt-5 mb-5 bg-light p-5 text-center">
    <h2 class="produ text-center mt-5 mb-5">You Search for</h2>
    <div class="row justify-content-center">
        {% if searched_items %}
            {% for item in searched_items %}
            <div class="col-10 col-sm-10 col-md-3">
                <div class="card h-100">
                    <img src="{{item.img.url}}" class="card-img-top w-100 h-100" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">#{{item.price}}</p>
                    <p class="card-text">{{item.description}}</p>

                    {% if items.max_quantity > 1 %}
                        <p class="card-text">Out of stock</p>
                    {% else %}
                        <a href="{% url 'details' item.slug %}" class="btn btn-primary">Go somewhere</a>
                    {% endif %}      
                </div>
            </div>
        </div>    
            {% endfor %}
        {% endif %}
    </div>
</div>
{% else %}
<h2 class="produ text-center mt-5 mb-5">Your Search for {{items}}, was not found!...</h2>
{% endif %}

{% endblock content %}

{% block contact %} {% include 'contact.html' %}{% endblock contact %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}


